# Hacktiv8-PTP Python For Data Science // S.1 // Introduction, Data Types, and Variables

In [ ]:
#Python is Simple
#Python 3 memiliki 33 keywords, and Python 2 memliki 31 keywords.
#Sebagai perbandingan, C++ punya 62, Java punya 53, dan Visual Basic punya lebih dari 120, meskipun contoh yang terakhir ini mungkin agak berbeda berdasarkan implementasi atau dialek.
#Kode Python memiliki struktur yang sederhana dan bersih yang mudah dipelajari dan dibaca.

#But It’s Not That Simple
#Untuk semua kesederhanaan sintaksisnya, Python mendukung sebagian besar konstruksi yang diharapkan dalam bahasa tingkat tinggi, termasuk tipe data dinamis yang kompleks, pemrograman terstruktur dan fungsional, dan pemrograman berorientasi objek.
#Selain itu, perpustakaan class dan function yang sangat luas tersedia yang menyediakan kemampuan melebihi apa yang dibangun ke dalam bahasa, seperti manipulasi database atau pemrograman GUI.

### Integers

In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [2]:
# Python interprets a sequence of decimal digits without any prefix to be a decimal number:

print(10)

10

In [3]:
print(type(10))

<class 'int'>

### Floating-Point Numbers

In [ ]:
#Tipe float di Python menunjukkan bilangan floating-point. Nilai float ditentukan dengan titik desimal.
#Secara opsional, karakter e atau E diikuti dengan bilangan bulat positif atau negatif dapat ditambahkan untuk menentukan notasi ilmiah:

In [4]:
print(4.2)

4.2

In [5]:
print(type(4.2))

<class 'float'>

In [6]:
print(4.)

4.0

In [7]:
print(.2)

0.2

In [8]:
print(.4e7)

4000000.0

In [9]:
print(4.2e-4)

0.00042

### Strings

In [ ]:
#String literals dapat dipisahkan menggunakan tanda kutip tunggal atau ganda.
#Semua karakter antara pembatas pembuka dan pembatas penutup yang 'match' adalah bagian dari string:

In [10]:
print("Hacktiv8")

Hacktiv8

In [11]:
print(type("Hacktiv8"))

<class 'str'>

In [ ]:
#Sebuah string dalam Python dapat berisi karakter sebanyak yang kalian inginkan.
#Satu-satunya batasan adalah resource memori kalian. String juga boleh kosong:

In [12]:
print('')

In [13]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

In [14]:
print('This string contains a double quote (") character.')

This string contains a double quote (") character.

### Boolean Type, Boolean Context, and “Truthiness”

In [ ]:
#Python 3 menyediakan tipe data Boolean. Objek tipe Boolean mungkin memiliki salah satu dari dua nilai, True atau False:

In [15]:
print(type(True))

<class 'bool'>

In [16]:
print(type(False))

<class 'bool'>

### Variable Assignment

In [ ]:
#Variable assignment dilakukan dengan satu tanda sama dengan (=):

In [17]:
n = 300
print(n)

300

In [18]:
n

300

In [19]:
# Later, if you change the value of n and use it again, the new value will be substituted instead:

n = 1000
print(n)

1000

In [20]:
n

1000

In [ ]:
#Python juga memungkinkan chained assignment, yang memungkinkan untuk menetapkan nilai yang sama ke beberapa variabel secara bersamaan:

In [21]:
a = b = c = 300
print(a, b, c)

300 300 300

### Variable Types in Python

In [22]:
var = 23.5
print(var)

23.5

In [23]:
var = "Now I'm a string"
print(var)

Now I'm a string

### Variable Names

In [ ]:
#Secara resmi, nama variabel di Python bisa berapa pun panjangnya dan bisa terdiri dari huruf besar dan huruf kecil (A-Z, a-z), digit (0-9), dan karakter garis bawah (_).
#Batasan tambahan adalah bahwa, meskipun nama variabel dapat berisi angka, karakter pertama dari nama variabel tidak boleh berupa digit.

In [24]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [25]:
# Nama variabel tidak boleh dimulai dengan angka:
9_kepala_naga = True

SyntaxError: invalid decimal literal (<ipython-input-25-8f3aeb5976e2>, line 3)

In [26]:
# Huruf kecil dan huruf besar tidak sama. Penggunaan karakter garis bawah juga penting. Masing-masing dari berikut ini mendefinisikan variabel yang berbeda

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [27]:
# Camel Case: Second and subsequent words are capitalized, to make word boundaries easier to see. Example: numberOfCollegeGraduates
# Pascal Case: Identical to Camel Case, except the first word is also capitalized. Example: NumberOfCollegeGraduates
# Snake Case: Words are separated by underscores. Example: number_of_college_graduates

### Operators and Expressions in Python

In [ ]:
#Di Python, operators adalah simbol khusus yang menunjukkan bahwa suatu jenis komputasi harus dilakukan.
#Nilai yang ditindaklanjuti oleh operators disebut operands.

In [28]:
a = 10
b = 20
a + b

30

In [ ]:
#Dalam kasus ini, operators + menjumlahkan operands a dan b. Operand dapat berupa nilai literal atau variabel yang mereferensikan objek:

In [29]:
a = 10
b = 20
a + b - 5

25

In [ ]:
#Urutan operan dan operator, seperti a + b - 5, disebut expression. Python mendukung banyak operator untuk menggabungkan objek data menjadi expression.

### Arithmetic Operators

In [30]:
a = 4
b = 3

print(a + b)

7

In [31]:
print(a - b)

1

In [32]:
print(a * b)

12

In [33]:
print(a / b)

1.3333333333333333

In [34]:
print(a % b)

1

In [35]:
print(a ** b)

64

In [36]:
# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10 / 5

2.0

### Comparison Operators

In [37]:
a = 10
b = 20
print(a == b)

False

In [38]:
print(a != b)

True

In [39]:
print(a <= b)

True

In [40]:
print(a >= b)

False

In [41]:
a = 30
b = 30
print(a == b)

True

In [42]:
print(a <= b)

True

In [43]:
print(a >= b)

True

### String Manipulation

In [44]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

foobar

In [45]:
print(s + t + u)

foobarbaz

In [46]:
print('Hacktiv8 ' + 'PTP')

Hacktiv8 PTP

In [47]:
# * Operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [48]:
# in Operators

s = 'foo'

print(s in 'That food for us')

True

In [49]:
print(s in 'That good for us')

False

In [50]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

Hacktiv8

In [51]:
# Lower
print(s.lower())

hacktiv8

In [52]:
# Swapcase
print(s.swapcase())

hACKtiv8

In [53]:
# Title
print(s.title())

Hacktiv8

In [54]:
# Uppercase
print(s.upper())

HACKTIV8

### Python Lists

In [ ]:
#list adalah kumpulan objek yang arbitrary, agak mirip dengan array dalam banyak bahasa pemrograman lain tetapi lebih fleksibel.
#List didefinisikan dalam Python dengan menyertakan sequence object yang dipisahkan koma dalam tanda kurung siku ([])

In [55]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [ ]:
#List bukan hanya kumpulan object. List adalah kumpulan dari object yang berurutan.
#Urutan elemen ketika kalian membuat list akan bertahan selama List tersebut ada.

In [57]:
#List yang memiliki elemen yang sama dalam urutan yang berbeda, tidak sama:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [ ]:
#Elemen individual dalam List dapat diakses menggunakan indeks dalam tanda kurung siku.
#Ini sama persis dengan mengakses karakter individu dalam sebuah string. Pengindeksan List berbasis nol seperti halnya dengan string.

In [58]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [59]:
print(a[0])

foo

In [60]:
print(a[5])

corge

In [ ]:
#Hampir semua hal tentang pengindeksan string berfungsi serupa untuk list. Misalnya, indeks listnegatif dihitung dari akhir list:

In [61]:
print(a[-1])

corge

In [62]:
print(a[-6])

foo

In [ ]:
#Slicing juga bisa digunakan. Jika a adalah list, ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n, tetapi tidak termasuk, indeks n:

In [63]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [64]:
# The concatenation (+) and replication (*) operators:

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [65]:
print(a + ['grault', 'garply'])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [66]:
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [67]:
# len(), min(), max()

print(len(a))

6

In [68]:
print(min(a))

bar

In [69]:
print(max(a))

qux

### Modifying a Single List Value

In [ ]:
#Satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana:

In [70]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [71]:
a[2] = 10
a[-1] = 20

In [72]:
print(a)

['foo', 'bar', 10, 'qux', 'quux', 20]

In [73]:
# A list item can be deleted with the del command:

del a[3]

In [74]:
print(a)

['foo', 'bar', 10, 'quux', 20]

### Modifying Multiple List Values

In [ ]:
#Bagaimana jika kalian ingin mengubah beberapa elemen yang bersebelahan dalam list sekaligus?
#Python memungkinkan hal ini dengan slice, yang memiliki sintaks berikut:

In [75]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

['bar', 'baz', 'qux']

In [76]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

In [77]:
print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

### Tuples

In [ ]:
#Python menyediakan tipe lain dari kumpulan objek yang berurutan, disebut tuple.
#Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku ([]).
#Tuples tidak bisa diubah. Berikut adalah contoh singkat yang menunjukkan pendeklarasian tuple, pengindeksan, dan slicing:

In [78]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [79]:
print(t[0])

foo

In [80]:
print(t[-1])

corge

In [81]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [82]:
s1

'foo'

### Dictionary

In [ ]:
#Dictionaries adalah implementasi Python dari struktur data yang lebih dikenal sebagai associative array.
#Dictionaries terdiri dari key-value pairs. Setiap key-value pairs memetakan key ke value yang terkait.

#Definisikan Dictionaries dengan mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal ({}).
#Titik dua (:) memisahkan setiap kunci dari nilai yang terkait.

In [83]:
# mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal ({}). Titik dua (:) memisahkan setiap kunci dari nilai yang terkait
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

### Accessing Dictionary Values

In [ ]:
#Sebuah nilai diambil dari dictionary dengan menentukan kunci yang sesuai dalam tanda kurung siku ([]):

In [84]:
print(MLB_team['Minnesota'])

Twins

In [85]:
print(MLB_team['Colorado'])

Rockies

In [86]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [87]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [88]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a Dictionary Incrementally

In [ ]:
#Mendefinisikan dictionary menggunakan tanda kurung kurawal dan key-value pairs,
#seperti yang ditunjukkan di atas, tidak masalah jika kalian mengetahui semua kunci dan nilai sebelumnya.
#Tetapi bagaimana jika kalian ingin membuat dictionary sambil jalan?

#Kalian bisa mulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal kosong.
#Kemudian kalian dapat menambahkan kunci dan nilai baru satu per satu:

In [89]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [90]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [91]:
print(person['fname'])

Hack

In [92]:
print(person['lname'])

PTP

In [93]:
print(person['children'])

['Ralph', 'Betty', 'Joey']

In [94]:
print(person['children'][1])

Betty

In [95]:
print(person['pets'])

{'dog': 'Fido', 'cat': 'Sox'}

In [96]:
print(person['pets']['cat'])

Sox

In [97]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

In [98]:
# items
print(d.items())

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [99]:
# keys
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [100]:
# values
print(d.values())

dict_values([10, 20, 30])

### Line Continuation

In [ ]:
#Misalkan satu pernyataan dalam kode Python kalian sangat panjang.
#Misalnya, kalian mungkin memiliki assignment statement dengan banyak terms:

In [101]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [102]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True